.background-images {
  background-image: url('/assets/img/19.jpg'), url('/assets/img/bg1.jpg'), url('/assets/img/bg2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
  z-index: 1; /* Agregar z-index para que el texto de entrada esté por encima del texto de la etiqueta */
}

button {
  padding: 10px;
}


.color-barra{
  background-color: #5876C4;
}

.table .text-wrap {
  white-space: normal;
  word-wrap: break-word;
  max-width: 200px; /* Ajusta el valor según tus necesidades */
}

.imagen-conference{
  max-width: 100px;
  height: auto;
}



  #register-section {
    margin-top: 100px; /* Ajusta el margen superior para evitar que se superponga con el navbar */
  }
  #register-section .contenedor {
    width: 100%; /* Ajusta el ancho del formulario */
    margin: 0 auto; /* Centra el formulario */
  }


  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Ajusta la opacidad según sea necesario */
    z-index: 1040;
}

.modal-open {
    overflow: hidden;
}

.conferencias {
  background-color: #f9c218;
}


.password-container {
  position: relative;
  width: 100%;
}

.password-container input {
  width: 100%;
  padding-right: 40px; /* Deja espacio para el ícono del ojo */
}

#eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.eye-icon img {
  width: 20px;
  height: 20px;
}





  






